<div class="overlay" *ngIf="showFilter">
  <div class="filter-popup">
    <div class="popup-content">
      <h2 class="filtration-header">Filter</h2>
      <input class="searching-input" [(ngModel)]="filterValue" placeholder="Type name or breed" />
      <div>
        <h3 class="filter-radio-group-header">Type:</h3>
        <div class="filtering-radio-btn-group">
        <div class="radio-btn-choice">
          <input type="radio" [(ngModel)]="selectedType" name="animalType" value="all">
          <label>All</label>
        </div>
        <div class="radio-btn-choice">
          <input type="radio" [(ngModel)]="selectedType" name="animalType" value="cat">
          <label>Cat</label>
        </div>
        <div class="radio-btn-choice">
          <input type="radio" [(ngModel)]="selectedType" name="animalType" value="dog">
          <label>Dog</label>
        </div>
        </div>
      </div>

      <div>
        <h3 class="filter-radio-group-header">Gender:</h3>
        <div class="filtering-radio-btn-group">
        <div class="radio-btn-choice">
          <input type="radio" [(ngModel)]="selectedGender" name="animalGender" value="all">
          <label>All</label>
        </div>
        <div class="radio-btn-choice">
          <input type="radio" [(ngModel)]="selectedGender" name="animalGender" value="Male">
          <label>Male</label>
        </div>
        <div class="radio-btn-choice">
          <input type="radio" [(ngModel)]="selectedGender" name="animalGender" value="Female">
          <label>Female</label>
        </div>
        </div>
      </div>
<div class="filter-control">
  <button  (click)="applyFilter()">Apply</button>
  <button  (click)="toggleFilter()">Close</button>
</div>

    </div>
  </div>
</div>

