
.card-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.card-block-item {
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.pagination button {
  margin: 0 5px;
}

.navigation-btn {
  color: #ffff;
  font-weight: bold;
  border-radius: 20px;
  border-color: #2F88FF;
  background-color: #2F88FF;
  padding: 5px 40px;
}

.filter-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #2F88FF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

}

.filter-btn:hover {
  background-color: #1F66CC;
  transform: scale(1.05);
}

.container {
  display: flex;
  justify-content: flex-end;
  margin: 20px
}

.no-results-message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}
